<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weatherIcon.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>

<body>

    <div class='aboutMe'>
        {{>header}}
        <img src="img/photo retouchee.png"></img>
    </div>
    


{{>footer}}    
</body>

</html>