<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="/img/weatherIcon.png">    
<link rel="stylesheet" href="./css/style.css">
<title>Help</title>

</head>

<body>



    <div class="helpStyle">
        {{>header}}
        <p>{{help_text}}</p>
    </div>
    
{{>footer}}  
</body>

</html>